<div id='firechat-wrapper'></div>
<form name = "facebookloginForm" novalidate ng-submit= "chatlogin()">
		<button type ="submit" class = "btn" >Facebook Login</button>
</form><!-- turn off HTML validation @Override using angular-->

<!-- <div class ="meetings cf">
	<h1> add feature</h1>
	<form name = "myform" novalidate ng-submit = "addFeature()">
 		<div> <input type = "text" name= "featurename" placeholder= "Name" ng-model= "featurename" ng-required = "true"></div>
 		<button type ="submit" class="btn" ng-disabled= myform.$invalid>+</button>
 	</form>
	
	<h2> Your Cluster</h2>
	<div ng-repeat= "meeting in meetings">
		<p>{{meeting.name}}</p>
	</div> <! refference to meetings object createed in controller to make list -->
<!-- </div> --> 